<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Red Programming Language</title>
	<%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
</head>

<body>
	
	<%= render 'layouts/topbar' %>

	<div class="main-hero">
	<%= yield %>
	</div>
	
	<%= render 'layouts/footer' %>

    <%= javascript_include_tag "application" %>
	<script>
	  $(document).foundation();
	</script>
</body>
</html>
